doctype html
html
	head
		title EyeLeo
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel = "stylesheet", type = "text/css" href = "../css/normalize.css")
		link(rel = "stylesheet", type = "text/css" href = "../css/main.css")
	body
		section.first
			header
				.leftCol
					img(src = "../images/pow_logo.png")
					span EyeLeo
				.rightCol
					nav
						input(type="checkbox" id="burger_menu")
						label.burger(for="burger_menu")
							span
							span
							span
						ul
							li 
								a(href="#") Features
							li
								a(href="#") Comunity
							li
								a(href="#") Buy Now
			.lableLogo
				.img_wrapper
					img(src = "../images/lable_logo.png")
					.footprint.fp1
					.footprint.fp2
					.footprint.fp3
					.footprint.fp4
					.footprint.fp5
					.footprint.fp6
			.descHeader
				h1 An app that keeps your eyes healthy.
					
			main
				p.desc EyeLeo for Mac is an app that regulary reminds you to take a rest for your eyes, shows you simple eye exercises and prevents you from using Mac during these exercises. When you're working at a computer it's easy to forget about time. This leads to eye strain and other physical problems. EyeLeo guarantees you won't forget to take a break.

		.triangles
			.left
			.right
		section.second
			.container
				.left
					h2 Features:
					p Screen blocking during break exercises. Short break with eye exercises. Visual explanation of every exercise. Notifications announcing a long break coming. Strict mode that doesn't allow skipping the breaks. Customizable preferences. and more...
				.right
					img(src="../images/mac-screen.png")
		section.third
			.container
				.left
					img(src="../images/logo3.png")
					h2 EyeLeo
				.right
					button Buy Now	
		footer
			.triangles
				.left
				.right
			.container
				a.text(href="#") About Us
				a.text(href="#") Contact Us
				a.logo.facebook(href="#")
				a.logo.google(href="#")
				a.logo.twitter(href="#")
			.lic ©Copyright 2016
	script(type="text/javascript", src = "../js/animation.js")

